In [1]:
from scipy.stats import poisson
import matplotlib.pyplot as plt
import pyodbc
import pandas as pd
import numpy as np
FinalData = pd.DataFrame([])
test = pd.DataFrame([])
foo = pd.DataFrame([])

In [2]:
Cust_Data_SQL = """ \
        SELECT DISTINCT
        InvoiceDate,
        CustomerAddressKey,
        dd.CurrentDayOffset
        INTO ##CustData
        FROM [USVBIAnalytics].[DWAF].[vwFactSales] fs
        LEFT JOIN [USVBIAnalytics].[DW].[vwDimDate] dd ON fs.InvoiceDateKey = dd.DateKey
        WHERE CustomerAddressKey > 0 AND dd.CurrentDayOffset >= -365
        ORDER BY InvoiceDate
"""

Indexed_Data_SQL = """ \
       SELECT ROW_NUMBER() OVER (PARTITION BY CustomerAddressKey ORDER BY InvoiceDate ASC) AS Row#,
       InvoiceDate,
       CustomerAddressKey
INTO ##IndexedData
FROM ##CustData;
"""

Final_Data_SQL = """ \
      SELECT A.InvoiceDate AS Date1,
       B.InvoiceDate AS Date2,
       A.CustomerAddressKey,
       DATEDIFF(DAY, A.InvoiceDate, B.InvoiceDate) AS InnerEventTime,
       A.Row# AS Row1,
       B.Row# AS Row2
       INTO ##FinalData
       FROM ##IndexedData A
       JOIN ##IndexedData B ON A.Row# = B.Row# - 1 AND B.CustomerAddressKey = A.CustomerAddressKey
--       WHERE  A.CustomerAddressKey in ('36646', '36642', '36644')
       ORDER BY 3,5
"""

In [3]:
conn = pyodbc.connect('Driver={ODBC Driver 13 for SQL Server}; Server=SQLPDW; Database=USVBIanalytics; Trusted_Connection=yes;')
cursor=conn.cursor()
cursor.execute(Cust_Data_SQL)
cursor.execute(Indexed_Data_SQL)
cursor.execute(Final_Data_SQL)
conn.commit()
query1="Select CustomerAddressKey, Date1, Date2, InnerEventTime from ##FinalData"
data1= pd.read_sql_query(query1,conn)

In [4]:
CustGroup = data1.groupby('CustomerAddressKey')

In [5]:
foo = pd.DataFrame(CustGroup.InnerEventTime.mean())   
test = pd.merge(data1, foo, on='CustomerAddressKey').rename(index=str, columns={'InnerEventTime_y':'AvgInnerEventTime','InnerEventTime_x':'DaySinceLastPurchase'})

In [6]:
FinalData = test.assign(p = 0).rename(index=str, columns={'p':'Probability'})

In [50]:
FinalData.Probability = (1-poisson.cdf(test.DaySinceLastPurchase, test.AvgInnerEventTime, loc=0))
FinalData[FinalData.CustomerAddressKey == 36642]

,CustomerAddressKey,Date1,Date2,DaySinceLastPurchase,AvgInnerEventTime,Probability
93878,36642,2018-10-24,2018-10-28,4,9.105263,0.948485
93879,36642,2019-06-01,2019-06-24,23,9.105263,0.000029
93880,36642,2018-10-30,2018-11-11,12,9.105263,0.132020
93881,36642,2018-11-20,2018-11-27,7,9.105263,0.688286
93882,36642,2018-12-03,2018-12-04,1,9.105263,0.998878
93883,36642,2019-03-14,2019-03-21,7,9.105263,0.688286
93884,36642,2018-08-28,2018-08-30,2,9.105263,0.994273
93885,36642,2019-03-05,2019-03-06,1,9.105263,0.998878
93886,36642,2019-03-13,2019-03-14,1,9.105263,0.998878
93887,36642,2018-10-28,2018-10-29,1,9.105263,0.998878
93888,36642,2018-11-11,2018-11-13,2,9.105263,0.994273
93889,36642,2019-03-12,2019-03-13,1,9.105263,0.998878
93890,36642,2019-05-02,2019-05-24,22,9.105263,0.000079
93891,36642,2018-07-13,2018-08-07,25,9.105263,0.000004
93892,36642,2018-10-29,2018-10-30,1,9.105263,0.998878
93893,36642,2018-11-13,2018-11-20,7,9.105263,0.688286
93894,36642,2019-01-17,2019-02-12,26,9.105263,0.000001
93895,36642,2019-03-06,2019-03-11,5,9.105263,0.890554
93896,36642,2018-08-13,2018-08-28,15,9.105263,0.024154
93897,36642,2018-09-19,2018-09-21,2,9.105263,0.994273
93898,36642,2018-11-27,2018-12-02,5,9.105263,0.890554
93899,36642,2018-12-14,2018-12-24,10,9.105263,0.306564
93900,36642,2019-02-12,2019-03-05,21,9.105263,0.000205
93901,36642,2019-03-21,2019-04-03,13,9.105263,0.079278
93902,36642,2018-12-05,2018-12-11,6,9.105263,0.802640
93903,36642,2018-12-24,2019-01-17,24,9.105263,0.000010
93904,36642,2018-12-04,2018-12-05,1,9.105263,0.998878
93905,36642,2019-04-22,2019-05-02,10,9.105263,0.306564
93906,36642,2018-08-07,2018-08-13,6,9.105263,0.802640
93907,36642,2018-08-30,2018-09-19,20,9.105263,0.000508
93908,36642,2018-12-11,2018-12-14,3,9.105263,0.980298
93909,36642,2019-03-11,2019-03-12,1,9.105263,0.998878
93910,36642,2019-04-04,2019-04-22,18,9.105263,0.002747
93911,36642,2019-05-24,2019-06-01,8,9.105263,0.558133
93912,36642,2018-10-11,2018-10-24,13,9.105263,0.079278
93913,36642,2018-12-02,2018-12-03,1,9.105263,0.998878
93914,36642,2019-04-03,2019-04-04,1,9.105263,0.998878
93915,36642,2018-09-21,2018-10-11,20,9.105263,0.000508

In [8]:
FinalData['Date2'] = pd.to_datetime(FinalData['Date2'])
FinalData['Date1'] = pd.to_datetime(FinalData['Date1'])
FinalData.dtypes

CustomerAddressKey               int64
Date1                   datetime64[ns]
Date2                   datetime64[ns]
DaySinceLastPurchase             int64
AvgInnerEventTime              float64
Probability                    float64
dtype: object

In [45]:
MostRecentEvent = FinalData.sort_values(by='Date2').groupby('CustomerAddressKey').last()
# a=MostRecentEvent.reset_index()
# a[a.CustomerAddressKey == 66587]
MostRecentEvent

,Date1,Date2,DaySinceLastPurchase,AvgInnerEventTime,Probability
CustomerAddressKey,,,,,
3,2019-06-26,2019-06-27,1,1.338235,3.866618e-01
8,2019-06-04,2019-06-06,2,13.608696,9.998682e-01
12,2019-06-26,2019-06-27,1,1.733333,5.170352e-01
19,2019-06-26,2019-06-27,1,1.144654,3.172837e-01
28,2019-06-12,2019-06-24,12,15.565217,7.765526e-01
31,2019-06-12,2019-06-18,6,15.434783,9.942187e-01
32,2019-06-24,2019-06-26,2,13.769231,9.998852e-01
35,2019-02-04,2019-06-26,142,77.666667,2.089928e-11
36,2019-06-11,2019-06-24,13,11.900000,3.079528e-01
37,2019-06-03,2019-06-06,3,25.846154,1.000000e+00
38,2019-06-26,2019-06-27,1,2.524823,7.177586e-01
39,2018-11-20,2018-11-29,9,7.421053,2.146301e-01
41,2019-06-26,2019-06-27,1,1.281690,3.666763e-01
44,2019-06-20,2019-06-21,1,2.143713,6.314976e-01
48,2018-07-17,2018-10-16,91,91.000000,4.721588e-01
49,2019-06-19,2019-06-25,6,2.701493,2.062348e-02
51,2019-06-24,2019-06-25,1,2.375000,6.860761e-01
53,2019-06-26,2019-06-27,1,1.677419,4.997093e-01
55,2019-05-30,2019-06-27,28,9.459459,2.553454e-07
60,2019-05-28,2019-06-12,15,20.187500,8.529455e-01
62,2019-06-07,2019-06-24,17,8.209302,2.094449e-03
64,2019-06-11,2019-06-26,15,14.521739,3.830456e-01
67,2019-03-08,2019-03-21,13,15.285714,6.635640e-01
70,2019-02-11,2019-06-11,120,100.333333,2.458577e-02
81,2019-06-17,2019-06-25,8,3.892473,1.833132e-02
87,2019-06-10,2019-06-24,14,5.028169,2.398837e-04
88,2019-04-29,2019-06-20,52,38.777778,1.720754e-02
91,2019-06-24,2019-06-27,3,5.173913,7.585434e-01
97,2019-06-26,2019-06-27,1,2.022222,5.999756e-01
98,2019-06-21,2019-06-25,4,11.833333,9.914639e-01
...,...,...,...,...,...
162899,2019-06-27,2019-06-28,1,1.777778,5.305186e-01
162919,2019-06-25,2019-06-26,1,1.000000,2.642411e-01
162935,2019-06-22,2019-06-24,2,2.000000,3.233236e-01
162945,2019-06-25,2019-06-26,1,1.800000,5.371631e-01
163002,2019-06-26,2019-06-27,1,1.307692,3.758998e-01
163049,2019-06-26,2019-06-27,1,2.428571,6.977279e-01
163052,2019-06-13,2019-06-20,7,7.000000,4.012862e-01
163137,2019-06-14,2019-06-19,5,5.000000,3.840393e-01
163222,2019-06-20,2019-06-26,6,4.000000,1.106740e-01
163226,2019-06-20,2019-06-25,5,5.500000,4.710813e-01
163233,2019-06-21,2019-06-26,5,5.000000,3.840393e-01
163241,2019-06-20,2019-06-21,1,1.000000,2.642411e-01
163244,2019-06-20,2019-06-24,4,4.000000,3.711631e-01
163251,2019-06-24,2019-06-25,1,1.666667,4.963317e-01
163255,2019-06-23,2019-06-24,1,1.750000,5.221217e-01
163257,2019-06-19,2019-06-27,8,8.000000,4.074527e-01
163274,2019-06-26,2019-06-27,1,1.444444,4.234116e-01
163283,2019-06-26,2019-06-27,1,1.500000,4.421746e-01
163305,2019-06-25,2019-06-26,1,1.666667,4.963317e-01
163333,2019-06-21,2019-06-27,6,6.000000,3.936972e-01
163385,2019-06-19,2019-06-27,8,8.000000,4.074527e-01
163389,2019-06-20,2019-06-21,1,1.000000,2.642411e-01
163392,2019-06-24,2019-06-26,2,3.500000,6.791528e-01
163406,2019-06-26,2019-06-27,1,2.333333,6.767601e-01
163427,2019-06-25,2019-06-26,1,1.000000,2.642411e-01
163464,2019-06-26,2019-06-27,1,1.000000,2.642411e-01
163677,2019-06-26,2019-06-27,1,1.000000,2.642411e-01
164009,2019-06-25,2019-06-27,2,2.000000,3.233236e-01
164069,2019-06-25,2019-06-26,1,1.000000,2.642411e-01
164077,2019-06-26,2019-06-27,1,1.000000,2.642411e-01

In [10]:
query2="""Drop Table ##FinalData, ##CustData, ##IndexedData"""
cursor.execute(query2)

In [11]:
cursor.close()

In [12]:
# test.isna().sum()
# if (test[test.CustomerAddressKey == 36644].reset_index(drop=True).iloc[0,:].InnerEventTime_y - a.InnerEventTime_y.mean()) > 1e-4:
#     print('Fail')
# else:
#     print('Pass')

In [13]:

# data1_append

In [14]:
# Group = data1.groupby('CustomerAddressKey')
# mu = Group.mean()
# k = 
# mean, var, skew, kurt = poisson.stats(mu, moments='mvsk')
#Avg_IVT

In [15]:
#data1.shape[0]

In [16]:
#data1.iloc[data1.shape[0]-1,:] #[r,c]

In [17]:
#var

In [18]:
#skew

In [19]:
#mean

In [20]:
#whos

In [21]:
# data.dtypes

In [22]:
# data.describe()

In [23]:
# data.replace('', np.nan, inplace=True)

In [24]:
# print(data.isna().sum())
# print(data.shape)

In [25]:
# conn.close()

In [26]:
# type(data)

In [27]:
#####Active Connection
# config = dict(server=   'SQLPDW', # change this to your SQL Server hostname or IP address
#               port=      1433,                    # change this to your SQL Server port number [1433 is the default]
#               database= 'SQLPDW',
#               username= 'user',
#               password= 'pass')

# trusted_conn_str = ('SERVER={server};'     +
#                     'DATABASE={database};' +
#                     'TRUSTED_CONNECTION=yes')

# conn = pyodbc.connect(
#     r'DRIVER={ODBC Driver 13 for SQL Server};' +
#     trusted_conn_str.format(**config)
#     )